# =========================
# BUILD OUTPUTS
# =========================
bin/
obj/

# =========================
# VISUAL STUDIO
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# .NET
# =========================
*.dll
*.exe
*.pdb
*.cache
*.log

# =========================
# TEST RESULTS
# =========================
TestResults/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db